#Home {
    .container, 
    .container-fluid {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    > div.container-fluid {
        background: url('/../public/images/background.png');
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        background-color:#5f5f5f;

        > div.row div {
            > * {
                width: 100%;
            }

            > a,
            > div.btn-group > a {
                background-color: rgba(255, 255, 255, 0.116);
                border-color: #0d6efd;

                > img {
                    max-height:20px;
                    filter: invert(100%);
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.200) !important;
                    border-color: #69a5ff !important;
                }
            }

            > div.btn-group {
                padding: 0px;
            }

            > div.btn-group > a:nth-child(1) {
                border-right: none;
            }

            > div.btn-group > a:nth-child(2) {
                border-left: none;
                border-right: none;
            }

            > div.btn-group > a:nth-child(3) {
                border-left: none;

                > img {
                    max-height: 24px;
                }
            }
        }
    }

    > div:not(.container-fluid) {
        color: white;
    }

    h1 {
        font-size:4rem;
        text-align:center;
    }

    h4 {
        text-align:center;
    }

    button {
        padding-top:1rem;
        padding-bottom:1rem;
        
    }
    
    .link {
        color: #61dafb;
    }

    div.index:hover,
    div.type:hover {
        background-color: #fffeff0f;
    }

    > hr {
        width: 50%;
        padding-left: 50%;
        transform: translateX(50%);
        margin: 0px;
    }

    #progress-container .row:not(:last-child) {
        margin-bottom: 25px;
    }

    #progress {
        background-color: #0b0b0b;
        min-height: 50px;
        padding: 0;
        overflow: hidden;
        border-radius: 6px;
    }

    #progress #fill {
        height: 100%;
        background-color: #0b5cd4;
        transition: width 4s;
    }

    #progress #fill strong {
        line-height: 47px;
        position: relative;
        float: right;
        right: -64px;
    }

    #progress-paragraph {
        text-align: center;
    }
}