div#icon {
    $bgcolor: rgba(0, 0, 0, 0.6);

    a#back {
        color: white;
        padding: 10px 9px 8px 9px;
        background-color: $bgcolor;
    }

    #title {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: $bgcolor;
        padding: 0px 8px 0px 8px;

        * {
            color: white;
        }

        h5 {
            margin-bottom: 3px;
        }
    }

}