div#icon a#back {
    color: white;
    margin-left: 10px;
}

label {
    user-select: none
}

label input,
label select {
    margin-left: 10px;
}

div#iconoptions {
    color-scheme: light; // Inputs have a weird look due to index.scss color-scheme: dark; Set them back to normal for the inputs in #iconoptions.
    float: left;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-right: 15px;
    position: fixed;
    bottom: 0px;

    input[type="range"] {
        position: relative;
        top: 3px;
        margin-right: 3px;
    }
}

div button {
    color: black;
}

div input[type="color"] {
    height: 19px;
}

code {
    margin: 15px;
    font-size: 1.2em !important;
}