:root {
  color-scheme: dark;
}

* {
  color: white;
  font-family: Barlow;
}

select,
select > option {
  color: black;
}

body {
  background-color:#171717 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Bootstrap top left size debugging info.
.size-indicator {
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 2px 5px 2px 5px;
  z-index: 9999;
}
