div#model-view {
    $bgcolor: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    height: 100%;

    #iconRenderCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    code.model-view-error {
        margin: 15px;
        font-size: 1.2em !important;
        display: block;
        color: white;
        background-color: $bgcolor;
    }

    .model-view-controls {
        color-scheme: light; // Inputs have a weird look due to index.scss color-scheme: dark; Set them back to normal for the inputs.
        float: left;
        background-color: $bgcolor;
        padding-top: 10px;
        padding-right: 15px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        ul {
            padding-left: 10px;
            margin-bottom: 10px;

            li {
                list-style: none;
                padding-top: 1px;
            }
        }

        select, input[type="color"] {
            width: 99px;
        }

        input, select {
            float: right;

            &[type="checkbox"] {
                margin-top: 5px;
            }

            &[type="range"] {
                margin-right: 3px;
                position: relative;
                top: 3px;
            }

            &[type="color"] {
                height: 19px;
                margin-top: 3px;
            }
        }

        button {
            width: 100%;
            color: black;
        }

        label {
            margin-right: 10px;
            user-select: none;
            width: 100%;
        }
    }

    div.texture-details {
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px 0px 0px 10px;
        background-color: $bgcolor;
        z-index: 1;

        img:hover {
            cursor: pointer;
        }

        strong {
            padding-right: 5px;
        }
    }

    div.enlarged-texture-view {
        // This div is a bootstrap container-fluid, we want to make it fill the ModelView container.
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        position: absolute;
        overflow: hidden;

        background-color: rgba(0, 0, 0, 0.95);

        div.row:nth-child(1) {
            height: 90%;

            a {
                height: 90%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    image-rendering: pixelated;
                    transition: transform 0.2s;
                }
            }
        }

        div.row:nth-child(2) {
            height: 10%;

            button {
                width: 100px;
                height: 40px;
            }
        }
    }
}