#ContributorList {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 40px;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
}