div#model-view {
    $bgcolor: rgba(0, 0, 0, 0.6);

    #iconRenderCanvas {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: -100;
    }

    code.model-view-error {
        margin: 15px;
        font-size: 1.2em !important;
        display: block;
        color: white;
        background-color: $bgcolor;
    }

    .model-view-controls {
        color-scheme: light; // Inputs have a weird look due to index.scss color-scheme: dark; Set them back to normal for the inputs.
        float: left;
        background-color: $bgcolor;
        padding-top: 10px;
        padding-right: 15px;
        position: fixed;
        bottom: 0px;

        ul {
            padding-left: 10px;
            margin-bottom: 10px;

            li {
                list-style: none;
                padding-top: 1px;
            }
        }

        select, input[type="color"] {
            width: 99px;
        }

        input, select {
            float: right;

            &[type="checkbox"] {
                margin-top: 5px;
            }

            &[type="range"] {
                margin-right: 3px;
                position: relative;
                top: 3px;
            }

            &[type="color"] {
                height: 19px;
                margin-top: 3px;
            }
        }

        button {
            width: 100%;
            color: black;
        }

        label {
            margin-right: 10px;
            user-select: none;
            width: 100%;
        }
    }
}