// This scss applies `height: 100%` to every parent element of `td.line` 
// so that when it applies itself `height: 100%` its parent elements have defined
// heights and it can expand. Otherwise it just stays flat.

#GameTable {
    height: 100%;

    .TitleList-Row {
        display: grid;
        grid-template-columns: 34px 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        h6 {
            color: grey;
            margin-bottom: 3px;
        }

        a:has(.circle) {
            text-decoration: none;
        }

        a h6 {
            color: #6f6fff;
        }

        .circle {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            color: white;
            text-align: center;
            letter-spacing: -1px;
            text-decoration: none;
            font-weight: bold;

            &.icons3 {
                // Slight offset for circles containing "3" to look more centered.
                letter-spacing: -2px;
            }

            &.icons1, &.icons2, &.icons3 {
                background-color: #0b5cd4;
            }

            &.multiIcon {
                background-color: #003b93;
                font-size: 22px;
                line-height: 21px;
            }
        }

        &.contributed {

            &:hover {
                h6 {
                    color: #5959f8;
                }

                .circle {
                    background-color: #0e4393;
                }
            }
            h6 {
                color: #6f6fff;
            }
        }
        
        &.unknown {
            .circle {
                background-color: #454545;
                color: #afafaf;
            }
        }
    }

    .icons-grid {
        display: grid;
        grid-template-columns: 24px 100%; /* Sidebar + Content */
        /*grid-template-rows: repeat(3, auto); /* 3 rows */
        // gap: 1rem;

        .line {
            height: 100%;

            &::after {
                --border-color: rgb(92, 92, 92); /* Define the color once */
                content: "";
                display: block;
                width: 45%;
                height: calc(100%);
                margin-left: 46%;
                border-left: 2px solid var(--border-color);
                border-bottom: 2px solid var(--border-color);
                border-radius: 0px 0px 0px 8px;
            }
        }
    }
}